html,
body {
  min-height: 100%;
}
body {
  padding: 25px;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.navbar-item {
  margin-right: 15px;
}

.navbar-item > a {
  font-size: 1.25rem;
}

.navbar-item.separator {
  margin-left: auto;
}

@media (max-width: 992px) {
  .navbar {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .navbar-item.separator {
    margin-left: 0;
  }
}

main {
  display: flex;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chart-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.chart-label {
  inline-size: 150px;
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  margin-right: 20px;
  overflow-wrap: break-word;
}

.chart-bar {
  width: 100%;
}

.chart-bar-internal {
  height: 20px;
  background-color: red;
}

.chart-percentage {
  margin-left: auto;
  padding-left: 50px;
}
