<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/globals.css" />

    <script defer data-domain="ip-atlas.tomasdiblik.cz" src="https://plausible.dev.tomasdiblik.cz/js/script.file-downloads.outbound-links.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

    <title>Chart page</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-item">
        <a href="/index.html"> IPv4 </a>
      </div>
      <div class="navbar-item">
        <a href="/ipv6.html"> IPv6 </a>
      </div>
      <div class="navbar-item">
        <a href="/combined.html"> Combined </a>
      </div>
      <div class="navbar-item separator">
        <a href="/api.html"> API </a>
      </div>
      <div class="navbar-item">
        <a href="https://github.com/TDiblik/ip-atlas"  target="_blank" rel="noopener noreferrer"> About </a>
      </div>
    </div>
    <main>
        <div class="column">
            {{ INSERT_NEW_ROWS }}
        </div>
    </main>
  </body>
</html>
    
